# Python Fundamentals

![python]()

Python can perform arithmetic calculations:

In [1]:
2 + 2 * 10

22

In [2]:
523678 * 1097253

574607256534

In [3]:
375 % 5

0

But it can do so much more than this!

# Objectives

- Distinguish and use objects of different datatypes
- Use `if` and `else` statements
- Slice into strings, lists, and tuples
- Construct a `for` loop

# Objects

Python is an object-oriented programming language, which means that almost everything you do in Python will involve interacting with objects. 

## Types

All objects in Python have a **type**, which defines what the object can store. You can find out the type of any object using the `type()` function.

In [4]:
type(123)

int

Common types are strings (```str```), integers (```int```), floats (```float```), Booleans (```bool```). You can also collect a bunch of objects into one object, such as with lists (```list```) and dictionaries (```dict```).

## Variables

Often we want to store values for use throughout a program - we do this with **variables**. To declare a variable, simply write the name of the variable, followed by an '=', followed by the value you want to store in the variable. 

One great thing about Python is that we do not have to specify the type of a variable when declaring it.

In [5]:
fav_num = 123
print(fav_num)
type(fav_num)

123

int

If you make a mistake when assigning a value to a variable...

In [6]:
name = 'Princd'
name

'Princd'

just re-assign it:

In [7]:
name = 'Prince'
name

'Prince'

## Strings

Strings are pieces of text. In order for the computer to understand a string as such, it must be placed in single or double quotes:

In [8]:
'This is a string'

'This is a string'

In [9]:
type('This is a string')

str

In [10]:
This is not a string

SyntaxError: invalid syntax (<ipython-input-10-1c9d3bd84b60>, line 1)

Note that the quotes are not printed when you use the `print()` function

In [11]:
print('This is a string')

This is a string

### Characters

Strings are made up of **characters** - these are usually letters or numbers. The `len()` function tells you how many characters are in your string.

In [12]:
len('potato')

6

Some special characters need a backslash in front to be stored correctly - these are called **escape characters**.

In [13]:
fav_string = 'Here\'s my favorite string:\n String Cheese'
print(fav_string)

Here's my favorite string:
 String Cheese

Triple quotes are useful for creating long strings that break across multiple lines. You can also use them to create strings that contain single or double quotes.

In [14]:
print("""
Hey y'all. 
Where's the "party"?
""")

Hey y'all.
Where's the "party"?

### Indexing

You can index strings to get specific characters. Note that the first character is in position 0.

In [15]:
name = 'Prince'

In [16]:
name[0]

'P'

In [17]:
name[2]

'i'

In [18]:
name[-2]

'c'

### Slicing

Strings can be sliced, if you want to extract a portion of a string:

In [19]:
name[2:4]

'in'

In [20]:
name[2:]

'ince'

In [21]:
name[:4]

'Prin'

In [22]:
name[:-4]

'Pr'

In [23]:
name[::2]

'Pic'

In [24]:
name[::-2]

'enr'

In [26]:
name[1:4:-2]

''

Python strings are **immutable**, which means that you can't reassign any part of one:

In [25]:
name[3] = 'f'

TypeError: 'str' object does not support item assignment

In [ ]:
name.replace('i', 'o')

For more on what you can do with strings, just type ```help(str)```!

In [ ]:
help(str)

## Integers and Floats

Integers and floats are numeric types in Python. Floats have decimal points and integers do not.

In [ ]:
type(0)

In [ ]:
type(0.)

In [ ]:
type(0.789)

Python DOES allow arithmetic across these two types:

In [ ]:
10 + 15.35

In [ ]:
10 % 6 / 6

Python ```int```s are **coerced** into ```float```s for these calculations.

### Ranges

The `range()` function can be used to create a `range` object, which defines a span of equally-spaced integers.

In [ ]:
bob = range(8)

bob

In [ ]:
type(bob)

In [ ]:
list(bob)

In [ ]:
len(bob)

In [ ]:
list(range(2, 10, 2))

## Booleans

There are only two values of a Boolean: True and False.

In [ ]:
type(False)

In [ ]:
type('false')

In [ ]:
type(false)

Booleans are useful when you want to check to see whether some condition has been satisfied.

### 0 and 1

In Python, 1 and **True** are equal, and 0 and **False** are equal, even though they officially have different data types.

In [ ]:
1 == True

In [ ]:
0 == False

In [ ]:
type(0)

In [ ]:
type(False)

## Lists

A list is an **ordered** collection of objects. Use square brackets for lists.

In [ ]:
random_list = [1, 'alan', 8.5, True]

Lists can be sliced, just like strings:

In [ ]:
random_list[1:]

In [ ]:
random_list_2 = ['alan', 8.5, True, 1]

random_list == random_list_2

Lists are **mutable**, meaning that you can re-assign values:

In [ ]:
random_list[2] = '85'
random_list

In [ ]:
random_list.append('85')
random_list

In [ ]:
random_list.remove('alan')

random_list

## Tuples

Tuples are ordered objects that support indexing in the same way that lists do.

In [ ]:
type((1, 2, 4))

In [ ]:
(1, 2, 3)[0]

But unlike lists, tuples are **immutable**.

In [ ]:
triple = (1, 2, 3)

triple[0] = 3

## Sets

Sets are **unordered**, and so they do not support indexing. But they are **mutable**.

In [ ]:
set1 = {1, 2, 3}

set1.add(4)

set1

Sets also cannot hold duplicate entries

In [ ]:
set2 = {3, 4, 5, 5}
set2

## Dictionaries

A dictionary is an unordered collection of _paired_ elements. As an analogy, think of how an English dictionary pairs words and definitions: You look up a word to find the definition.

The first elements of the pairs are called "keys", which must be strings.
The second elements of the pairs are called "values", which can be any object.

Use curly braces for dictionaries.

In [ ]:
greg = {'name': 'greg', 'occupation': 'data_scientist',
            'HP': 140, 'favorite_color': 'green', 'weakness': 'decaf_sensitivity'}

type(greg)

In [ ]:
greg.keys()

In [ ]:
greg.values()

In [ ]:
greg.items()

To access a "definition", just look up the "word"!

In [ ]:
greg['occupation'] = 'wizard'

greg['occupation']

In [ ]:
joél = {}

type(joél)

## Casting

Sometimes we want to turn an object of one data type into another - we call this **casting**. There are Python functions to help with it, but be careful because there can be unintended results.

In [ ]:
str(8)

In [ ]:
int(8.9)

In [ ]:
bool(0)

In [ ]:
bool(2)

In [ ]:
set([1, 'square', 'blue', 'square'])

# `If` Statements

`if` statements are very powerful tools in Python. Simply put, they check to see if some condition is true or not.

Useful comparison operators are `>`, `<=`, and `==`

In [ ]:
num = 76
if num % 4 == 0:
    print('yes')

## `else` and `elif`

The keyword `else` is used to cover the other cases where the `if` statement is false.

Sometimes we want to consider more than just two possibilities, and we can use `elif` ("else-if") for this.

In [ ]:
num = 74
if num % 4 == 0:
    print('yes')
else:
    print('no')

In [ ]:
num = 134567
if num % 3 == 0:
    print('multiple of 3')
elif num % 3 == 1:
    print('one more than a multiple of 3')
else:
    print('two more than a multiple of 3')

## `for` Loops

A `for` loop is way of performing a set of related tasks automatically. Suppose, for example, that I want to print out every number between 1 and 7, inclusive. We can use a `range` object to do it because it is **iterable**. Most collections are iterable.

In [ ]:
for val in range(1, 8):
    print(val)

The combination of `for` loops with `if` statements is especially powerful.

In [ ]:
for val in range(1, 8):
    if val >= 4:
        print(val)

Here we iterate over items in a dictionary:

In [ ]:
for elem in greg:
    if type(greg[elem]) == str:
        print(elem + ': ' + greg[elem])

In this example, we loop over characters in a string

In [ ]:
import string

string.ascii_lowercase

In [ ]:
unique_chars = []
for char in string.ascii_lowercase:
    if char in 'popcorn':
        unique_chars.append(char)
unique_chars

## Iterators

Use `iter()` to turn an iterable object into an **iterator**. Iterators produce one value at a time and stop once all the values have run out.

In [ ]:
lower_case_iterator = iter(string.ascii_lowercase)
type(lower_case_iterator)

In [ ]:
next(lower_case_iterator)

In [ ]:
next(lower_case_iterator)